html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    background: url('/content/image-selection/collage-alderin-rouge.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.Logo {
    margin-bottom: 20px;
}

.Logo img {
    width: 500px;
    height: auto;
}

.content-boxes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.content-box-maroquinerie, .content-box-tapisserie {
    background: #333;
    color: white;
    padding: 16px;
    width: 300px;
    text-align: center;
    border: 2mm double #333;
    margin: 5px;
}

.content-box-maroquinerie:hover {
    transition: 0.5s;
    border-color: #743535;
}

.content-box-tapisserie:hover {
    transition: 0.5s;
    border-color: #E6B823;
}

.content-box-maroquinerie p, .content-box-tapisserie p {
    margin: 0 0 10px;
}

.button-maroquinerie {
    border: 2mm double #743535;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    background: #743535;
    margin-top: 21px;
    position: relative;
}

.button-maroquinerie a, .button-tapisserie a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.button :hover {
    border-color: #333;
    transition: 0.5s;
}

.button-maroquinerie a span, .button-tapisserie a span {
    margin-left: 10px;
    position: relative;
    top: -2px;
}

.button-maroquinerie a:hover, .button-tapisserie a:hover {
    text-decoration: none;
}

.button-maroquinerie a:hover span, .button-tapisserie a:hover span {
    text-decoration: none;
}

.button-tapisserie {
    border: 2mm double #E6B823;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    background: #E6B823;
}

.spanbin {
    left: -10px;
    position: relative;
}

.plzwork {
    height: 10px; 
    margin: 0;
}

.plzwork:hover {
    text-decoration: underline;
}

.titre {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}